<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表格管理</title>
    <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-treeview/bootstrap-treeview.css" rel="stylesheet">
    <link href="/css/bootstrap-ztree/bootstrapStyle.css" rel="stylesheet">
    <link href="/css/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <!----------导入插件---------->
    <link rel="stylesheet" href="/css/bootstrap-fileinput-master/fileinput.min.css">
    <!--验证插件-->
    <link rel="stylesheet" href="/css/bootstrap-validator/bootstrapValidator.min.css">
    <!--行内编辑表格-->
    <link href="css/bootstrap-editable/bootstrap-editable.css"/>


    <script src="/js/common/systemCommonQuote.js"></script>
    <script src="/js/common/commFunction.js"></script>
    <script src="/js/common/pluginLibrary.js"></script>
    <!----------导入插件---------->
    <script src="/js/bootstrap-fileinput-master/fileinput.min.js"></script>
    <script src="/js/bootstrap-fileinput-master/zh.js"></script>

    <!--验证插件-->
<!--    <script src="/js/bootstrap-validator/bootstrapValidator.js"></script>-->

    <script src="/js/bootstrap-editable/bootstrap-table-editable.js"></script>
    <script src="/js/bootstrap-editable/bootstrap-editable.min.js"></script>

    <style>
        .form-group {
            margin-right: 15px;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <div class="row" id="head-top-model">
        <div class="col-xs-12 new-head" id="headMenu">
            <nav class="navbar navbar-default" role="navigation" id="navbar">
                <div class="container-fluid">
                    <div>
                        <!--向左对齐-->
                        <ul class="nav navbar-nav navbar-left">
                            <li class="navbar-text navbar-left" id="cloud-name"></li>
                        </ul>
                        <!--向右对齐-->
                        <ul class="nav navbar-nav navbar-right" id="sysMenu" style="margin-right: 10px;margin-top:8px">
                            <li class="dropdown">
                                <select name="systemChoose" onchange="window.location=this.value;" id="selectManage"
                                        class="form-control">
                                    <option value="tableManage">配置表格组件管理页面</option>
                                    <option value="controllerManage">配置控制器管理页面</option>
                                    <option value="formManage">配置表单组件管理页面</option>
                                    <option value="treeManage">配置树组件管理页面</option>
                                    <option value="boObjManage">BO对象管理页面</option>
                                    <option value="boTreeManage">BO树结构管理</option>
                                </select>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </div>

    <div class="row panelWrapper">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-primary" id="tableConfigPanel" style="overflow: scroll;height: 843px;">
                <div class="panel-heading">页面表格配置</div>
                <div class="panel-body">
                    <div style="width: 1200px;margin: auto;">

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="getTableUrl">请求地址：</label>
                                <input type="text" value="http://rap2.taobao.org:38080/app/mock/241077/getTableData" class='form-control' id="getTableUrl">
                            </div>

                            <div class="form-group">
                                <label class="label-control" for="addTableFieldUrl">新增地址：</label>
                                <input type="text" class='form-control' id="addTableFieldUrl">
                            </div>

                            <div class="form-group">
                                <label class="label-control" for="updateTableFieldUrl">修改地址：</label>
                                <input type="text" class='form-control' id="updateTableFieldUrl">
                            </div>

                            <div class="form-group">
                                <label class="label-control" for="deleteTableFieldUrl">删除地址：</label>
                                <input type="text" class='form-control' id="deleteTableFieldUrl">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="tableVoName">对象名：</label>
                                <input type="text" class='form-control' id="tableVoName">
                            </div>
                            <div class="form-group">
                                <label class="label-control" for="tableID">tableID：</label>
                                <input type="text" value="fieldTable" class='form-control' id="tableID">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="orderNumber">需要序列号：</label>
                                <select id="orderNumber" class="form-control">
                                    <option value="1">是</option>
                                    <option value="">否</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="isNeedDetails">需要查看列：</label>
                                <select id="isNeedDetails" class="form-control">
                                    <option value=''>否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>

                            <div class="form-group" style="display: none;">
                                <label class="label-control" for="detailsParam">查看列参数：</label>
                                <input type="text" class='form-control' id="detailsParam"
                                       value="delDetails/查看详情" placeholder="如：delDetails/查看详情">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="isNeedOperate">需要操作列：</label>
                                <select id="isNeedOperate" class="form-control">
                                    <option value="">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>

                            <div class="form-group" style="display: none;">
                                <label class="label-control" for="operateParam">操作列参数：</label>
                                <input type="text" class='form-control' id="operateParam"
                                       value="update/修改,orderRemove/删除" placeholder="如：update/修改,orderRemove/删除">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="form-group">
                                <label class="label-control" for="columns">表头数据：</label>
                                <select id="columns" class="form-control">
                                    <option value="1">固定</option>
                                    <option value="">发送请求</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label-control" for="sidePagination">分页方式：</label>
                                <select id="sidePagination" class="form-control">
                                    <option value="client">client</option>
                                    <option value="server">server</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group form-inline">
                            <div>
                                <button id="importBtn" type="button" class="btn btn-primary"
                                        onclick="importTableObj()">
                                    导入对象
                                </button>

                                <button id="addFieldBtn" type="button" class="btn btn-primary"
                                        onclick="addFieldBtn()">
                                    +新增Field
                                </button>
                            </div>

                            <div>
                                <div class="tableInfo">
                                    <table id="fieldTable" class="table"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-inline" style="float: right;">
                        <button type="button" class="btn btn-primary"
                                onclick="exportConfig()">
                            导出配置
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="modal_department" tabindex="-1" role="dialog">
</div>


<!--导入模态框-->
<div class="modal fade" id="table-importObjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">导入</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">请选择java文件：</label>
                    <input type="file" name="uploadFile" id="uploadFile" class="file-loading"
                           data-show-upload="true"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/js/componentCommon.js"></script>
<script src="/js/tableManage/tableManage.js"></script>
<script src="/js/tableManage/exportTableConfig.js"></script>

</html>